:root {
  --color-white: #fff;
  --color-light: #eee;
  --color-black: #000;
  --color-blacky: #111;
  --color-grey: #333;
  --color-action: #D90429;
  --color-hover: rgb(4, 103, 217);
  --measure: 60ch;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  font-size: 90%;
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 110%;
  }
}

@media only screen and (min-width: 850px) {
  body {
    font-size: 120%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 130%;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: var(--color-light);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7em;
  text-transform: uppercase;
  width: 30em;
  max-width: var(--measure);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list a:active, .list a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--color-black);
  margin: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (max-width: 750px) {
  .list {
    position: absolute;
    right: 0;
    height: calc(100vh - 80px);
    top: 80px;
    background-color: var(--color-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  .list li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.heading {
  font-size: 1.75em;
  margin-bottom: 1em;
  font-weight: bold;
}

.home {
  height: calc(100vh - 80px);
  background-image: url("../img/victor-freitas-big.jpg");
  background-position: center center;
}

.home-box {
  margin-top: 30vh;
  float: right;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 1em 0 0;
  width: calc( var(--measure) / 2);
}

@media screen and (max-width: 850px) {
  .home-box {
    margin-top: 15vh;
  }
}

.home-box div {
  padding: 1em;
}

.home-name {
  color: var(--color-light);
}

.home-header {
  margin: .5em 0 .5em;
  color: var(--color-white);
  letter-spacing: 1px;
  line-height: 1.25;
}

.home .cta:link, .home .cta:visited {
  display: block;
  background-color: var(--color-action);
  color: var(--color-white);
  padding: 1em;
  width: 100%;
  text-align: center;
  font-weight: bold;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home .cta:hover, .home .cta:active {
  background-color: var(--color-hover);
}

.secondary {
  background-color: var(--color-blacky);
}

.secondary .heading {
  color: var(--color-white);
}

.secondary .para {
  color: var(--color-light);
}

.secondary .para strong {
  color: var(--color-white);
}

.tertiary {
  background-color: var(--color-light);
}

.tertiary .about {
  position: relative;
  margin: 0 auto;
}

.tertiary .about .heading {
  color: var(--color-black);
}

.tertiary .about .para {
  color: var(--color-grey);
}

.tertiary .about picture {
  position: absolute;
  width: 75px;
  display: inline-block;
  top: -1.5em;
  right: 1em;
}

@media only screen and (min-width: 500px) {
  .tertiary .about picture {
    width: 100px;
  }
}

.tertiary .about img {
  width: 100%;
  display: inline-block;
  border-radius: 50%;
}

.para {
  line-height: 1.75;
}

.pricing {
  background-color: var(--color-blacky);
}

.pricing .heading {
  color: var(--color-white);
  margin-bottom: 0.5em;
}

.pricing .para, .pricing .training__list, .pricing .pricing__list {
  color: var(--color-light);
}

.pricing .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 850px) {
  .pricing .lists {
    width: 75%;
  }
}

.pricing .cta-sale {
  padding: 0.75em 1.5em;
  margin: 2em auto 0;
  width: 25rem;
  background-color: var(--color-light);
  display: inline-block;
  font-weight: bold;
  color: var(--color-blacky);
  border-radius: 3px;
  text-align: center;
}

.contact {
  background-color: var(--color-light);
  position: relative;
}

.contact .heading {
  color: var(--color-black);
}

.contact a:link, .contact a:visited {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color-action);
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact a:hover, .contact a:active {
  color: var(--color-hover);
}

footer {
  font-size: 0.8em;
  padding: 1em;
  text-align: center;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.toggle .line1 {
  position: absolute;
  top: 35px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  position: absolute;
  top: 35px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.pricing, .contact, .secondary, .tertiary {
  padding: 3em 1em;
}

.container {
  max-width: var(--measure);
  margin: 0 auto;
}

@media only screen and (min-width: 500px) {
  .pricing, .contact, .secondary, .tertiary {
    padding: 5em 3em;
  }
}

.fb-img {
  margin-right: .5rem;
}
/*# sourceMappingURL=main.css.map */